html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --navy: #0b1736;
  --white: #ffffff;
  --blue-dark: #1d2c78;
  --gray: #c4c4c4;
  --gray-dark: #686b87;
  --primary: #5271ff;
  --yellow: #fee036;
}

.font-l {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
}

.font-m {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.font-s {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.23rem;
}

.button-primary {
  color: var(--white);
  background-color: var(--primary);
  padding: 15px 10px;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  border-radius: 10px;
  transition: all 0.2s;
}

.button-primary:hover {
  box-shadow: -5px 5px 2px 1px var(--blue-dark);
  transition: all 0.2s;
}

.button-secondary {
  padding: 15px 57px 14px 58px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #20254d;
  border: 1px solid #20254d;
  border-radius: 10px;
  background-color: var(--white);
  transition: all 0.2s;
}

.button-secondary:hover {
  border: 3px solid #20254d;
  transition: all 0.2s;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 33px 50px 24px 50px;
  align-items: center;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu__item {
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.main {
  padding: 100px 50px;
  background-color: var(--blue-dark);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main__info {
  color: var(--blue-dark);
  text-align: center;
  background-color: var(--white);
  padding-top: 54px;
  padding-bottom: 55px;
  width: 50%;
}

.main__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 97px;
  margin-top: 30px;
}

.main__descr {
  margin-bottom: 30px;
  margin-top: 16px;
}

.main__img {
  width: 50%;
}

.main__img img {
  width: 100%;
}

.main-btn {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
