html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

:root {
  --navy: #0b1736;
  --white: #ffffff;
  --blue-dark: #1d2c78;
  --gray: #c4c4c4;
  --gray-dark: #686b87;
  --primary: #5271ff;
  --yellow: #fee036;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.font-l {
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 2.26rem;
}

.font-m {
  font-weight: 600;
  font-size: 1.38rem;
  line-height: 1.69rem;
}

.font-s {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.23rem;
}

.button-primary {
  color: var(--white);
  background-color: var(--primary);
  padding: 0.57rem 0.38rem;
  font-weight: 800;
  font-size: 0.84rem;
  line-height: 1.03rem;
  border-radius: 0.38rem;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

.button-primary:hover {
  box-shadow: -5px 5px 2px 1px var(--blue-dark);
  transition: all 0.2s;
}

.button-primary:focus {
  color: var(--yellow);
}

.button-primary:disabled {
  color: var(--white);
  background-color: rgba(82, 113, 255, 0.3);
}

.button-secondary {
  padding: 0.57rem 2.19rem 0.53rem 2.23rem;
  font-weight: 600;
  font-size: 0.84rem;
  line-height: 1.03rem;
  color: #20254d;
  border: 1px solid #20254d;
  border-radius: 0.38rem;
  background-color: var(--white);
  transition: all 0.2s;
  cursor: pointer;
  height: 2.35rem;
}

.button-secondary:hover {
  border: 0.11rem solid #20254d;
  transition: all 0.2s;
}

.button-secondary:focus {
  color: var(--white);
  background-color: #20254d;
}

.button-secondary:disabled {
  color: #bcbeca;
  border: 1px solid #bcbeca;
  background-color: var(--white);
}

.button-en {
  padding: 0.57rem 3.53rem;
}

.menu-mobile-main .menu-link {
  display: block;
  height: 5rem;
  width: 5rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 4;
  position: fixed;
  top: 1.3rem;
  right: 1.3rem;
}
.menu-mobile-main .menu-link span,
.menu-mobile-main .menu-link span:before,
.menu-mobile-main .menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  right: 50%;
  margin-right: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}
.menu-mobile-main .menu-link span:before {
  content: "";
  margin-top: -6px;
  transition: all 0.2s;
}
.menu-mobile-main .menu-link span:after {
  content: "";
  margin-top: 4px;
  transition: all 0.2s;
}
.menu-mobile-main .menu-link_active span {
  background-color: transparent;
}
.menu-mobile-main .menu-link_active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}
.menu-mobile-main .menu-link_active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}

.menu-mobile-main .menu-mobile {
  z-index: 3;
  opacity: 0.95;
  background: linear-gradient(blue, var(--yellow));
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  right: -100vw;
}
.menu-mobile-main .menu-mobile_active {
  right: 0;
}
.menu-mobile-main .menu-mobile ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.menu-mobile-main .menu-mobile ul li {
  width: 100vw;
}
.menu-mobile-main .menu-mobile ul a {
  color: var(--white);
  line-height: 4;
  transition: all 0.2s;
  display: block;
  width: 100%;
}
.menu-mobile-main .menu-mobile ul a:hover {
  text-decoration: none;
  background-color: rgba(82, 113, 255, 0.3);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.26rem 1.92rem 0.92rem 1.92rem;
  align-items: center;
  background-color: var(--white);
  z-index: 2;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

.logo-mobile {
  width: 20%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu__item {
  margin: 0.38rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.23rem;
  white-space: nowrap;
  color: var(--blue-dark);
}

.main,
.your-future {
  padding: 3.84rem 1.92rem;
  background-color: var(--blue-dark);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main__info {
  color: var(--blue-dark);
  text-align: center;
  background-color: var(--white);
  padding: 2.07rem 0.76rem 2.11rem 0.76rem;
  height: 23.73rem;
  width: 25.76rem;
}

.main__info-en {
  padding: 2.07rem 0.9rem 2.11rem 0.9rem;
}

.main__title {
  font-weight: 700;
  font-size: 3.07rem;
  line-height: 3.73rem;
  margin-top: 1.15rem;
  white-space: nowrap;
}

.main__descr {
  margin-bottom: 1.15rem;
  margin-top: 0.61rem;
}

.main__descr {
  margin-top: 1.53rem;
}

.main__img,
.your-future__img {
  height: 23.73rem;
  width: 25.76rem;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.main-btn {
  display: block;
  margin: auto;
  margin-bottom: 1.15rem;
}

.color-primery {
  color: var(--primary);
}

.about-us {
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.84rem 1.92rem;
}

.about-us__info {
  background-color: var(--blue-dark);
  width: 22.5rem;
  height: 22.5rem;
  padding: 0.96rem 3.26rem 2.65rem 2.69rem;
  margin-top: 1.23rem;
}

.about-us__title {
  color: var(--yellow);
  margin-bottom: 0.61rem;
}

.about-us__descr {
  color: var(--white);
}

.about-us__img {
  width: 22.5rem;
  height: 22.5rem;
  margin-bottom: 1.23rem;
}

.bg-blue {
  background: var(--primary);
  color: var(--white);
}

.bg-yellow {
  background: var(--yellow);
  color: var(--blue-dark);
}

.our-mission {
  padding-top: 1.92rem;
  padding-bottom: 3.84rem;
  background-color: var(--primary);
  color: var(--white);
}

.our-mission__title {
  text-align: center;
  margin-bottom: 2.3rem;
}

.our-mission-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 65%;
}

.our-mission__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-mission__info__first {
  margin-bottom: 1.42rem;
  padding-right: 0.76rem;
}

.text__first {
  width: 17.57rem;
}

.text__second {
  width: 14.15rem;
}

.our-mission__info__second {
  margin-top: 1.15rem;
  padding-left: 2.03rem;
}

.num-img {
  margin-right: 0.96rem;
}

.our-mission__info__second img {
  width: 3.15rem;
}

.our-mission__info__first img {
  width: 1.6rem;
}

.our-mission__img {
  width: 20.38rem;
}

.our-mission__img img {
  width: 100%;
}

.our-mission__img__first {
  position: relative;
  right: -1.53rem;
}

.activity {
  padding-top: 1.92rem;
  padding-bottom: 1.92rem;
}

.activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.activity-item {
  text-align: center;
  margin-right: 0.57rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* width: 20%; */
}

.activity-box {
  width: 10.38rem;
  height: 10.38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.92rem;
}

.activity__header {
  color: var(--blue-dark);
  text-align: center;
  margin-bottom: 1.57rem;
}

.details {
  background-color: var(--yellow);
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 1.84rem;
  padding-bottom: 3.92rem;
}

.details__container {
  text-align: center;
}

.details__info {
  padding: 0.69rem 1.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-dark);
  margin-bottom: 2rem;
  width: 22.5rem;
  height: 22.5rem;
  color: var(--white);
}

.details__img {
  width: 22.5rem;
  height: 22.5rem;
}

.your-future__info {
  color: var(--blue-dark);
  text-align: center;
  background-color: var(--white);
  padding: 2.3rem 3.19rem 0 1.42rem;
  height: 23.73rem;
  width: 25.76rem;
}

.your-future__title {
  margin-bottom: 1.92rem;
}

.your-future__descr {
  margin-bottom: 1.92rem;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.84rem;
  padding-bottom: 4.03rem;
  background-color: var(--yellow);
}

.contacts__map {
  margin-bottom: 0.92rem;
  width: 22.5rem;
  height: 22.5rem;
}

.contacts__info {
  background-color: var(--blue-dark);
  padding: 1.73rem 2.69rem 0 3.26rem;
  width: 22.5rem;
  height: 22.5rem;
}

.contacts__title {
  margin-bottom: 1.73rem;
}

.contact__item {
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.23rem;
  margin-bottom: 1.92rem;
}

.color-yellow {
  color: var(--yellow);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--blue-dark);
  width: 100%;
  padding-top: 1.92rem;
  padding-bottom: 2.11rem;
}

.footer-descr {
  width: 30%;
  text-align: center;
}

.footer-log {
  margin-bottom: 1.15rem;
}

.footer-log img {
  width: 100%;
}

.footer-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.15rem;
}

.footer-contacts {
  width: 50%;
  text-align: center;
}

.footer__item {
  margin-bottom: 1.15rem;
}

.footer-link {
  text-decoration: underline;
}

.footer-link a {
  color: var(--blue-dark);
}

.footer-socials a {
  margin: 0.57rem;
}

.footer-socials img {
  width: 1.53rem;
}

.slider {
  padding-top: 1.92rem;
  padding-bottom: 3.84rem;
  background-color: var(--primary);
}

.swiper {
  height: 20.76rem;
  width: 45rem;
}

.swiper-slide {
  width: 22.5rem;
  height: 20.76rem;
}

.swiper-arrow {
  width: 2.61rem;
  height: 2.92rem;
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-prev-button {
  bottom: 0%;
  right: 50%;
}

.swiper-arrow img {
  width: 33%;
}

.swiper-next-button {
  bottom: 0%;
  left: 50%;
}

.mobile-only {
  display: none;
}

.menu__item__empty {
  width: 50px;
}

.tab-active {
  display: flex;
}
.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.popup-close {
  position: absolute;
  top: 1.15rem;
  right: 1.15rem;
  cursor: pointer;
  width: 26px;
  height: 26px;
}
.popup-close__first {
  height: 1.15rem;
  border-left: 2px solid #20254d;
  position: absolute;
  transform: rotate(45deg);
  left: 28%;
}

.popup-close__second {
  height: 1.15rem;
  border-left: 2px solid #20254d;
  position: absolute;
  transform: rotate(-45deg);
  left: 28%;
}

.popup {
  padding: 5rem 3.84rem 2.3rem 3.84rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.23rem;
  color: #20254d;
  width: 37.3rem;
  margin: auto;
  background-color: var(--white);
  position: relative;
}

.popup-title {
  font-weight: 400;
  font-size: 1.53rem;
  line-height: 1.88rem;
}

.popup-buttons {
  display: flex;
  justify-content: center;
}

.popup-buttons .main-btn {
  margin: unset;
  margin-right: 1.15rem;
}

.popup-descr,
.popup-title,
.popup-buttons {
  margin-bottom: 1.92rem;
  text-align: center;
}

.popup-requisite,
.popup-details {
  margin-bottom: 0.96rem;
}

@media (min-width: 3000px) {
  .logo {
    width: 13%;
  }
  .footer-log img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .hidden-menu {
    display: none;
  }
  .menu-mobile-main {
    display: block;
    position: absolute;
  }

  header {
    justify-content: space-around;
    position: fixed;
  }

  .main {
    padding-top: 12.38rem;
  }
}

@media (min-width: 769px) {
  .hidden-menu__mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .main,
  .about-us,
  .your-future,
  .contacts,
  .details {
    flex-direction: column;
  }
  .activity-item {
    width: 36%;
    margin-bottom: 10px;
  }
  .swiper {
    width: 73%;
  }

  .our-mission-container {
    align-items: center;
    flex-direction: column;
  }

  .our-mission__first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our-mission__second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .our-mission__img__first {
    right: auto;
  }

  .about-us__info {
    margin-top: 0;
  }
  .about-us__img {
    margin-bottom: 0;
  }

  .contacts__map {
    margin-bottom: 0;
  }

  .details__container {
    margin-bottom: 10px;
  }

  .footer-descr {
    width: 37%;
  }

  .footer-contacts {
    width: 55%;
  }
}

@media (max-width: 440px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-descr {
    width: 50%;
  }

  .footer-descr {
    margin-bottom: 15px;
  }

  .footer-menu {
    flex-direction: column;
  }

  .footer-menu div {
    margin: 5px;
  }

  .hidden-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }

  .popup {
    width: 100%;
  }
}
