html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --navy: #0b1736;
  --white: #ffffff;
  --blue-dark: #1d2c78;
  --gray: #c4c4c4;
  --gray-dark: #686b87;
  --primary: #5271ff;
  --yellow: #fee036;
}

.font-l {
  font-weight: 700;
  font-size: 1.84rem;
  line-height: 2.26rem;
}

.font-m {
  font-weight: 600;
  font-size: 1.38rem;
  line-height: 1.69rem;
}

.font-s {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.23rem;
}

.button-primary {
  color: var(--white);
  background-color: var(--primary);
  padding: 15px 10px;
  font-weight: 800;
  font-size: 0.84rem;
  line-height: 1.03rem;
  border-radius: 10px;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
}

.button-primary:hover {
  box-shadow: -5px 5px 2px 1px var(--blue-dark);
  transition: all 0.2s;
}

.button-primary:focus {
  color: var(--yellow);
}

.button-primary:disabled {
  color: var(--white);
  background-color: rgba(82, 113, 255, 0.3);
}

.button-secondary {
  padding: 15px 57px 14px 58px;
  font-weight: 600;
  font-size: 0.84rem;
  line-height: 1.03rem;
  color: #20254d;
  border: 1px solid #20254d;
  border-radius: 10px;
  background-color: var(--white);
  transition: all 0.2s;
  cursor: pointer;
}

.button-secondary:hover {
  border: 3px solid #20254d;
  transition: all 0.2s;
}

.button-secondary:focus {
  color: var(--white);
  background-color: #20254d;
}

.button-secondary:disabled {
  color: #bcbeca;
  border: 1px solid #bcbeca;
  background-color: var(--white);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 33px 50px 24px 50px;
  align-items: center;
}

.logo {
  width: 30%;
}

.logo img {
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu__item {
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.23rem;
}

.main,
.your-future {
  padding: 100px 50px;
  background-color: var(--blue-dark);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main__info {
  color: var(--blue-dark);
  text-align: center;
  background-color: var(--white);
  padding-top: 2.07rem;
  padding-bottom: 2.11rem;
  height: 23.73rem;
  width: 25.76rem;
}

.main__title {
  font-weight: 700;
  font-size: 3.07rem;
  line-height: 3.73rem;
  margin-top: 1.15rem;
}

.main__descr {
  margin-bottom: 1.15rem;
  margin-top: 0.61rem;
}

.main__img,
.your-future__img {
  height: 23.73rem;
  width: 25.76rem;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.main-btn {
  display: block;
  margin: auto;
  margin-bottom: 1.15rem;
}

.about-us {
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 50px;
}

.about-us__info {
  background-color: var(--blue-dark);
  width: 22.5rem;
  height: 22.5rem;
  padding: 25px 85px 69px 70px;
  margin-top: 32px;
}

.about-us__title {
  color: var(--yellow);
  margin-bottom: 16px;
}

.about-us__descr {
  color: var(--white);
}

.about-us__img {
  width: 22.5rem;
  height: 22.5rem;
  margin-bottom: 32px;
}

.bg-blue {
  background: var(--primary);
  color: var(--white);
}

.bg-yellow {
  background: var(--yellow);
  color: var(--blue-dark);
}

.our-mission {
  padding-top: 50px;
  padding-bottom: 101px;
  background-color: var(--primary);
  color: var(--white);
}

.our-mission__title {
  text-align: center;
  margin-bottom: 60px;
}

.our-mission-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 65%;
}

.our-mission__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-mission__info__first {
  margin-bottom: 37px;
  padding-right: 20px;
}

.text__first {
  width: 457px;
}

.text__second {
  width: 368px;
}

.our-mission__info__second {
  margin-top: 30px;
  padding-left: 53px;
}

.num-img {
  margin-right: 25px;
}

.our-mission__img {
  width: 530px;
}

.our-mission__img img {
  width: 100%;
}

.our-mission__img__first {
  position: relative;
  right: -40px;
}

.activity {
  padding-top: 50px;
  padding-bottom: 50px;
}

.activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-item {
  text-align: center;
  margin-right: 15px;
}

.activity-box {
  width: 270px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.activity__header {
  color: var(--blue-dark);
  text-align: center;
  margin-bottom: 41px;
}

.childcare {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 102px;
}

.childcare__container {
  text-align: center;
}

.childcare__info {
  padding: 18px 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-dark);
  margin-bottom: 52px;
  width: 22.5rem;
  height: 22.5rem;
  color: var(--white);
}

.childcare__img {
  width: 22.5rem;
  height: 22.5rem;
}

.your-future__info {
  color: var(--blue-dark);
  text-align: center;
  background-color: var(--white);
  padding: 61px 83px 0 37px;
  height: 23.73rem;
  width: 25.76rem;
}

.your-future__title {
  margin-bottom: 50px;
}

.your-future__descr {
  margin-bottom: 50px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 105px;
  background-color: var(--yellow);
}

.contacts__map {
  margin-bottom: 24px;
  width: 22.5rem;
  height: 22.5rem;
}

.contacts__info {
  background-color: var(--blue-dark);
  padding: 45px 70px 0 85px;
  width: 22.5rem;
  height: 22.5rem;
}

.contacts__title {
  margin-bottom: 45px;
}

.contact__item {
  color: var(--white);
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 50px;
}

.contact__link {
  color: var(--white);
  text-decoration: none;
}

.color-yellow {
  color: var(--yellow);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--blue-dark);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 55px;
}

.footer-descr {
  width: 30%;
  text-align: center;
}

.footer-log {
  margin-bottom: 30px;
}

.footer-log img {
  width: 100%;
}

.footer-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

.footer-contacts {
  width: 50%;
  text-align: center;
}

.footer__item {
  margin-bottom: 30px;
}

.footer-link {
  text-decoration: underline;
}

.footer-link a {
  color: var(--blue-dark);
}

.footer-socials a {
  margin: 15px;
}
